:root {
	--red: #ff4d6d;
	--lightred: #ff758f;
	--pink: #ff8fa3;
	--darkgrey: #343a40;
	--grey: #6c757d;
	--lightgrey: #adb5bd;
	--othergrey: #ddd;
	--headerHeight: 5.5rem;
	--formTopMargin: 6rem;
	--tableTopMargin: 8rem;
	--footerTopMargin: 5rem;
	--footerHeight: 4rem;
	--captionBottomMargin: 2rem;
}

html,
input,
button {
	font-family: 'Public Sans', sans-serif;
}

header {
	display: flex;
	align-items: center;
	background-color: var(--red);
	height: var(--headerHeight);
}

header img {
	width: auto;
	height: 4rem;
	margin-left: 3rem;
}

header span {
	color: white;
	font-weight: bold;
	font-size: 2rem;
	margin-left: 2rem;
}

main {
	min-height: calc(
		100vh - var(--headerHeight) - var(--formTopMargin) - var(--footerTopMargin) -
			var(--footerHeight)
	);
}

form {
	display: flex;
	margin: auto;
	margin-top: var(--formTopMargin);
	width: max-content;
	padding: 3rem 0;
	box-shadow: 0 0.5rem 1rem 0.2rem var(--othergrey);
}

form div {
	display: flex;
	flex-direction: column;
	padding: 0 1.5rem;
}

form label {
	padding-bottom: 0.8rem;
	color: var(--red);
	font-weight: bold;
	font-size: 1.1rem;
}

form input {
	outline: none;
	padding-right: 0.4rem;
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: black;
	border-width: 0.1rem;
	font-size: 1rem;
	color: var(--darkgrey);
}

#pages-input {
	width: 9.5rem;
}

#unread-div,
#read-div {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#unread-div label,
#read-div label {
	margin-left: 0.2rem;
}

#button-div {
	display: flex;
	margin: auto;
}

#submit-button {
	background-color: var(--red);
	color: white;
	border: none;
	border-radius: 0.2rem;
	width: 6rem;
	height: 2rem;
	font-weight: bold;
	font-size: 1rem;
}

#table {
	width: 50vw;
	height: max-content;
	margin: auto;
	margin-top: var(--tableTopMargin);
	border-collapse: collapse;
}

#table caption {
	color: var(--red);
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: var(--captionBottomMargin);
}

#table tr {
	border-bottom: 0.1rem solid var(--lightgrey);
}

#table th {
	height: 3rem;
	padding: 0;
	color: var(--red);
	font-size: 1.1rem;
	font-weight: bold;
	vertical-align: middle;
}

#table td {
	padding: 0.2rem 1rem 0.2rem 1rem;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	height: 3rem;
	color: var(--darkgrey);
}

#empty-message {
	position: relative;
	top: 1rem;
	color: var(--grey);
	font-size: 1.2rem;
}

.status {
	border: 0.1rem solid var(--lightgrey);
	border-radius: 0.3rem;
	padding: 0.4rem;
}

#clear-button,
.delete-button {
	background-color: var(--red);
	border: none;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 0.2rem;
	padding: 0.3rem;
}

#clear-button:hover,
.delete-button:hover,
#submit-button:hover {
	background-color: var(--lightred);
	cursor: pointer;
}

#table img {
	width: 1.4rem;
	height: 1.4rem;
}

#new-book-button {
	margin-left: 25vw;
	width: max-content;
	height: 4rem;
	border: none;
	background-color: white;
	color: var(--grey);
	padding: 0;
	font-size: 1rem;
}

#new-book-button:hover {
	cursor: pointer;
	color: var(--lightgrey);
}

footer {
	display: flex;
	align-items: center;
	margin: auto;
	margin-top: var(--footerTopMargin);
	height: var(--footerHeight);
	width: max-content;
	position: relative;
	font-size: 1.2rem;
}

footer a {
	text-decoration: none;
	color: var(--darkgrey);
}

footer i {
	font-size: 1.5rem;
	margin-left: 0.5rem;
}

footer a:hover,
i:hover {
	color: blue;
	cursor: pointer;
}
